<div class="quick-product-card-btn">
    {% assign product_form_id = 'product-' | append: product.id %}
    <div class="qucik-product-add-to-cart">
      {%- if product -%}
        <modal-opener data-modal="#QuickAdd-{{ product.id }}">
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit button button--full-width button--secondary"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
            data-product-url="{{ product.url }}"
          >
            {% render 'cart-icon' %}
            ADD TO CART
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        </modal-opener>
        <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
          <div
            role="dialog"
            aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
            aria-modal="true"
            class="quick-add-modal__content global-settings-popup"
            tabindex="-1"
          >
            <button
              id="ModalClose-{{ product.id }}"
              type="button"
              class="quick-add-modal__toggle"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icon-close' %}
            </button>
            <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info">
              
            </div>
          </div>
        </quick-add-modal>
      {%- elsif product.available -%}
        <product-form data-section-id="{{ product.id }}">
          {%- form 'product',
            product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
          -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}"
              class="product-variant-id"
            >
    
            <div class="product-form__buttons">
              <button
                id="ProductSubmitButton-{{ product.id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width button--primary"
                {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
              >
                <span>
                  {%- if product.selected_or_first_available_variant.available == false -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- else -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- endif -%}
                </span>
                <div class="loading-overlay__spinner hidden">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </div>
          {%- endform -%}
        </product-form>
      {% endif %}
    </div>
  </div>