{% assign iconproduct = collection.metafields.custom.icon_text_with_product_info.value %}
{% assign product_list = iconproduct.product.value %}
{% assign product_image = iconproduct.product_image.value %}
{% assign product_info = iconproduct.product_short_description.value %}
{% assign product_label = iconproduct.product_link_label.value %}
{% if iconproduct != blank %}
{% liquid
   assign total_product = 0 
   for product in product_list 
   assign total_product = total_product | plus:1
    endfor 
%}
  <style>
    .padding-{{ section.id }}{
        padding-top:{{ section.settings.padding_top }}px;
        padding-bottom:{{ section.settings.padding_bottom }}px;
    }
    .icon-meta {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-meta img{
    max-width:75px;
    height: auto;
    }
    .icon-with-product-info{
        padding: 26px 0px 30px 0px;
        max-width: 768px;
        margin: auto;
      }
    .icon-with-product-info p{
        text-align: center;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin:0px;
    }
    .icon-product-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .icon-product-card{
    padding-bottom:20px;
    }
    .icon-product-title h5{
    text-transform:uppercase;
    }
    {% if total_product >= 4 %}
        .icon-product-card {
            width: calc(25% - 10px);
            position:relative;
        }
    {% elsif total_product == 3 %}
    .icon-product-card {
        width: calc(33% - 10px);
        position:relative;
    }
    {% elsif total_product == 2 %}
    .icon-product-card {
        width: calc(50% - 10px);
        position:relative;
    }
    {% else %}
    .icon-product-card {
        width: calc(50% - 10px);
        position:relative;
    }
    {% endif %}
    .icon-product-image{
    position:relative;
    padding-top:100%;
    border-radius:15px;
    overflow:hidden;
    }
    .icon-product-image img{
    max-width:100%;
    object-fit:cover;
    object-position:center;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    }
    .icon-product-title h5 {
        margin: 0;
        padding: 10px 0px;
    }
    .icon-product-info p {
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.9rem;
        padding-bottom: 10px;
    }
    .icon-product-button a {
        color: #000;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .icon-product-url{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    z-index:1;
    color:transparent;
    }
    @media screen and (max-width:768px){
        .padding-{{ section.id }}{
            padding-top:{{ section.settings.padding_top_mb }}px;
            padding-bottom:{{ section.settings.padding_bottom_mb }}px;
           }
        .icon-product-card {
            width: calc(50% - 10px);
            position:relative;
        }
        .icon-with-product-info p{
            text-align: center;
            font-size: 2rem;
            line-height: 2.6rem;
            margin:0px;
        }
        .icon-meta img{
            max-width:60px;
            }
    }
    @media screen and (max-width:600px){
        .icon-product-card {
            width: 100%;
            position:relative;
        }
    }
    </style>
    <div class="icon-with-product-section padding-{{ section.id }}">
     <div class="page-width">
        {% if iconproduct %}
        <div class="icon-meta">
            {%render 'image', image:iconproduct.icon_image.value %}
        </div>
    {% endif %}
    {% if iconproduct %}
        <div class="icon-with-product-info">
            <p>{{ iconproduct.description.value }}</p>
        </div>
        {% endif %}
    {% if product_list != blank  %}
    <div class="icon-product-wrapper">
        {% for product in product_list %}
        {% assign main_index = forloop.index %}
        <div class="icon-product-card">
            <a href="{{ product.url }}" class="icon-product-url">{{ product.title }}</a>
            <div class="icon-product-image">
                {% if product_image != blank %}
                    {% for image in product_image %}
                        {% if image != blank and forloop.index == main_index %}
                            <img
                                srcset="{%- if image.width >= 165 -%}{{image | img_url: '165x' }} 165w,{%- endif -%}
                                  {%- if image.width >= 360 -%}{{image | img_url: '360x' }} 360w,{%- endif -%}
                                  {%- if image.width >= 535 -%}{{image | img_url: '535x' }} 535w,{%- endif -%}
                                  {%- if image.width >= 750 -%}{{image | img_url: '750x' }} 750w,{%- endif -%}
                                  {%- if image.width >= 1070 -%}{{image | img_url: '1070x' }} 1070w,{%- endif -%}
                                  {%- if image.width >= 1500 -%}{{image | img_url: '1500x' }} 1500w,{%- endif -%}"
                                src="{{image | img_url: '1500x' }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{image.alt | escape }}"
                                loading="lazy"
                                width="{{image.width }}"
                                height="{{image.height }}"
                              >
                        {% elsif image == blank and forloop.index == main_index %}
                        <img
                            srcset="{%- if product.featured_image.width >= 165 -%}{{product.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                              {%- if product.featured_image.width >= 360 -%}{{product.featured_image | img_url: '360x' }} 360w,{%- endif -%}
                              {%- if product.featured_image.width >= 535 -%}{{product.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                              {%- if product.featured_image.width >= 750 -%}{{product.featured_image | img_url: '750x' }} 750w,{%- endif -%}
                              {%- if product.featured_image.width >= 1070 -%}{{product.featured_image | img_url: '1070x' }} 1070w,{%- endif -%}
                              {%- if product.featured_image.width >= 1500 -%}{{product.featured_image | img_url: '1500x' }} 1500w,{%- endif -%}"
                            src="{{product.featured_image | img_url: '1500x' }}"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{product.featured_image.alt | escape }}"
                            loading="lazy"
                            width="{{product.featured_image.width }}"
                            height="{{product.featured_image.height }}"
                          >
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    <img
                        srcset="{%- if product.featured_image.width >= 165 -%}{{product.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                          {%- if product.featured_image.width >= 360 -%}{{product.featured_image | img_url: '360x' }} 360w,{%- endif -%}
                          {%- if product.featured_image.width >= 535 -%}{{product.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                          {%- if product.featured_image.width >= 750 -%}{{product.featured_image | img_url: '750x' }} 750w,{%- endif -%}
                          {%- if product.featured_image.width >= 1070 -%}{{product.featured_image | img_url: '1070x' }} 1070w,{%- endif -%}
                          {%- if product.featured_image.width >= 1500 -%}{{product.featured_image | img_url: '1500x' }} 1500w,{%- endif -%}"
                        src="{{product.featured_image | img_url: '1500x' }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                        alt="{{product.featured_image.alt | escape }}"
                        loading="lazy"
                        width="{{product.featured_image.width }}"
                        height="{{product.featured_image.height }}"
                      >
                {% endif %}
           </div>
           <div class="icon-product-title">
           <h5>{{ product.title }}</h5>
           </div>

           {% if product_info != blank %}
            {% for info in product_info %}
                {% if info != blank and forloop.index == main_index %}
           <div class="icon-product-info">
            <p>{{ info }}</p>
           </div>
        {% endif %}
    {% endfor %}
    {% endif %}
           <div class="icon-product-button">
            {% if product_label != blank %}
            {% for label in product_label %}
            {% if label != blank and forloop.index == main_index %}
            <a href="{{ product.url }}">{{ label }}</a>
            {% elsif label == blank and forloop.index == main_index  %}
            <a href="{{ product.url }}">{{ product.title }}</a>
            {% endif %}
            {% endfor %}
            {% else %}
            <a href="{{ product.url }}">{{ product.title }}</a>
            {% endif %}
           </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
   </div>
{% endif %}
{% schema %}
{
  "name": "Text With Icon & Product",
  "limit": 1,
  "settings": [
    {
      "type" : "header",
      "content": "Desktop"
      },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
    "type" : "header",
    "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mb",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Text With Icon & Product"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
