<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
    
    <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>
    
    {%- style -%}
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
        margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
        {% if section.settings.bgtxt != 'transparent' %}
        background-color:{{ section.settings.bgtxt }};
        {% endif %}
      }
      .section-{{ section.id }}-padding .rich-text-commas{
        fill:{{section.settings.commas_color}};
        text-align:center;
      }
      .section-{{ section.id }}-padding .rich-text-commas svg{
        width:{{ section.settings.commas_size_mb }}px;
      }
      @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
          margin-top: {{ section.settings.margin_top  }}px;
          margin-bottom: {{ section.settings.margin_bottom }}px;
        }
        .section-{{ section.id }}-padding .rich-text-commas svg{
        width:{{ section.settings.commas_size }}px;
      }
      }
    {%- endstyle -%}
    
    <div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}" {% if section.settings.section_id %}id="{{section.settings.section_id | handle }}"{% endif %}>
      <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
        <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
          <div class="rich-text__blocks {{ section.settings.content_alignment }}">
            {% if section.settings.commas %}
          <p class="rich-text-commas"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310"><path d="M79 144.11c-6 0-11.37.28-16.19.8 8.02-32.82 27.27-48.06 55.31-60.35L103.1 50.31C75.18 62.56 56.9 76.59 43.81 95.82c-15.2 22.35-22.6 51.72-22.6 89.81v16.46c0 31.83.11 57.6 57.79 57.6 57.79 0 57.79-25.87 57.79-57.79 0-31.91.37-57.79-57.79-57.79zm152 0c-6 0-11.37.28-16.19.8 8.02-32.82 27.27-48.06 55.31-60.35L255.1 50.31c-27.92 12.25-46.2 26.28-59.29 45.51-15.2 22.35-22.6 51.72-22.6 89.81v16.46c0 31.83.11 57.6 57.79 57.6 57.79 0 57.79-25.87 57.79-57.79 0-31.91.37-57.79-57.79-57.79z"></path></svg></p>
            {% endif %}
          {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'heading' -%}
                  <h2 class="rich-text__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                    {{ block.settings.heading | replace: 'p>', 'span>' }}
                  </h2>
                {%- when 'caption' -%}
                  <p class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                    {{ block.settings.caption | escape }}
                  </p>
                {%- when 'text' -%}
                  <div class="rich-text__text rte" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  <div class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                    {%- if block.settings.button_label != blank -%}
                      <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
                    {%- endif -%}
                    {%- if block.settings.button_label_2 != blank -%}
                      <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
            {% if section.settings.commas %}
            <p class="rich-text-commas"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310"><path d="M231 167.84c6.02 0 11.42-.28 16.25-.81-7.1 29.03-22.95 44.36-45.88 56.04-5.33 2.71-7.63 9.1-5.23 14.57l6.04 13.77c2.59 5.91 9.62 8.44 15.38 5.53 22.1-11.11 37.39-23.92 48.76-40.63C281.58 193.89 289 164.4 289 126.17v-16.52c0-31.95-.11-57.81-58-57.81-58 0-58 25.97-58 58s-.38 58 58 58zm-152 0c6.02 0 11.42-.28 16.25-.81-7.1 29.03-22.95 44.36-45.88 56.04-5.33 2.71-7.63 9.1-5.23 14.57l6.04 13.77c2.59 5.91 9.62 8.44 15.38 5.53 22.1-11.11 37.39-23.92 48.76-40.63C129.58 193.89 137 164.4 137 126.17v-16.52c0-31.95-.11-57.81-58-57.81-58 0-58 25.97-58 58s-.38 58 58 58z"></path></svg></p>
            {% endif %}
            </div>
        </div>
      </div>
    </div>
    {% schema %}
    {
      "name": "t:sections.rich-text.name",
      "tag": "section",
      "class": "section",
      "settings": [
        {
          "type" : "text",
          "label" : " Section Id",
          "id" : "section_id"
          },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.label",
          "info": "t:sections.rich-text.settings.desktop_content_position.info"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.rich-text.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "background-1",
          "label": "t:sections.all.colors.label"
        },
        {
         "type" : "color",
         "id" : "bgtxt",
         "label" : "Background Color",
         "default" : "transparent"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "default": true,
          "label": "t:sections.rich-text.settings.full_width.label"
        },
        {
          "type":"checkbox",
          "label" : "Enable Inverted Commas",
          "id" : "commas",
          "default":false
        },
        {
          "type":"color",
          "label" : "Commas Color",
          "id" : "commas_color"
        },
        {
          "type": "range",
          "id": "commas_size",
          "min": 24,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Commas Size Desktop",
          "default": 50
        },
        {
          "type": "range",
          "id": "commas_size_mb",
          "min": 16,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Commas Size Mobile",
          "default": 30
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 40
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 52
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        }
      ],
      "blocks": [
        {
          "type": "heading",
          "name": "t:sections.rich-text.blocks.heading.name",
          "limit": 3,
          "settings": [
            {
              "type": "richtext",
              "id": "heading",
              "default": "<p>Talk about your brand</p>",
              "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
            },
            {
              "type": "select",
              "id": "heading_size",
              "options": [
                {
                  "value": "h4",
                  "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                  "value": "h1",
                  "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                  "value": "h0",
                  "label": "t:sections.all.heading_size.options__3.label"
                },
                {
                  "value": "hxl",
                  "label": "t:sections.all.heading_size.options__4.label"
                }
              ],
              "default": "h1",
              "label": "t:sections.all.heading_size.label"
            }
          ]
        },
        {
          "type": "caption",
          "name": "t:sections.rich-text.blocks.caption.name",
          "limit": 3,
          "settings": [
            {
              "type": "text",
              "id": "caption",
              "default": "Add a tagline",
              "label": "t:sections.rich-text.blocks.caption.settings.text.label"
            },
            {
              "type": "select",
              "id": "text_style",
              "options": [
                {
                  "value": "subtitle",
                  "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
                },
                {
                  "value": "caption-with-letter-spacing",
                  "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
                }
              ],
              "default": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
            },
            {
              "type": "select",
              "id": "text_size",
              "options": [
                {
                  "value": "small",
                  "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
                },
                {
                  "value": "medium",
                  "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
                },
                {
                  "value": "large",
                  "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
                }
              ],
              "default": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
            }
          ]
        },
        {
          "type": "text",
          "name": "t:sections.rich-text.blocks.text.name",
          "limit": 3,
          "settings": [
            {
              "type": "richtext",
              "id": "text",
              "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
              "label": "t:sections.rich-text.blocks.text.settings.text.label"
            }
          ]
        },
        {
          "type": "button",
          "name": "t:sections.rich-text.blocks.buttons.name",
          "limit": 2,
          "settings": [
            {
              "type": "text",
              "id": "button_label",
              "default": "Button label",
              "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
              "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
            },
            {
              "type": "checkbox",
              "id": "button_style_secondary",
              "default": false,
              "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
            },
            {
              "type": "text",
              "id": "button_label_2",
              "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
              "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
            },
            {
              "type": "url",
              "id": "button_link_2",
              "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
            },
            {
              "type": "checkbox",
              "id": "button_style_secondary_2",
              "default": false,
              "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "t:sections.rich-text.presets.name",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "text"
            },
            {
              "type": "button"
            }
          ]
        }
      ]
    }
    {% endschema %}
    